.input {
  box-sizing: border-box;
  display:inline-block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.75rem;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid $color-grey;
  &__submit {
    background-color: $color-green;
    color: $color-base;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .4s;
    &:hover {
      background-color: $color-dark-green;
    }
  }
  &--small {
    width: 48%;
    &:nth-of-type(2n) {
      margin-left: 4%;
    }
  }
}